.spinner {
  border: 0.25rem solid rgba(135, 135, 135, 0.664);
  border-top: 0.25rem solid #000000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
